.landing-container {
  background-color: #000;
  padding: 50px 0;
}

.landing-content {
  padding: 0 75px;
}


.main-box {
  backdrop-filter: blur(4px);
  background-color: #090a0a;
  background-image: radial-gradient(circle, #010c28, hsla(0, 0%, 100%, 0));
  border-radius: 10px;
  color: #fff;
  border: 1px solid #192588;
  z-index: 0;
}

.dhiwise-label {
  font-size: 38px;
  line-height: 46px;
}

.dhiwise-content {
  width: 100%;
  color: hsla(0, 0%, 100%, .7);
  margin-top: 1px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 20px;
}

.nav-item {
  border: none !important;
  outline: none !important;
}

.custom-tabs .nav-tabs {
  border: none !important;
}

.custom-tabs .nav-link {
  color: #000;
  border: none !important;
  outline: none !important;
}

.custom-tabs .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border: none !important;
  color: #fff;
}

.custom-tabs .nav-link {
  color: #fff;
  border: none;
  font-size: 18px;
}

.custom-tabs .nav-link.active {
  color: #ff6a05 !important;
  border-bottom: 2px solid #ff6a05 !important;
  background: transparent !important;
  border: none;
}

.background-video {
  z-index: 1;
  border: 2px solid #152041;
  border-radius: 10px;
}

.w-background-video {
  height: 500px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  height: auto;
  color: transparent;
}

.tab-content-container {
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-container,
.background-video {
  max-width: 100%;
  margin-top: 20px;
  bottom: -40px;
}

.w-background-img {
  height: 500px;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.content-text {
  width: 60%;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}